*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Python
__pycache__/
*.pyc
.venv/
env/

# Secrets
.env

# Node
node_modules/

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/